body {
  padding-top: 40px;
}

section {
  padding: 60px 0 0 0;
}

.alert-banner {
  margin-top: 20px;
}

.main-add-button {
    margin-right: 14px;
    float: right;
}

.select-category {
    float: left;
}

.select-category label {
    font-weight: bold;
    width: 30px;
    padding-left: 10px;
}

.select-category .input {
    margin-left: 100px;
}

#new-message-modal {
  width: 600px;
  margin: -240px 0 0 -300px;
}

.actions-col {
  width: 150px;
  text-align: center;
}

.actions-col a, .actions-col button {
  margin-right: 5px;
  float: right;
}

.messages-count {
  margin-left: 40px;
}
