//
//  SMUrlBase.h
//  sosmessage
//
//  Created by Arnaud K. on 14/11/11.
//  Copyright (c) 2011 ArnkFoundation. All rights reserved.
//

#import <Foundation/Foundation.h>

#define SM_URL @"http://www.dummyurl.fr"
#define SM_ABOUT @"http://www.dummyurl.fr/about"

@protocol SMUrlBase <NSObject>

@end
