@(
  selectedTab: String = "none",
  actionDone: Option[String] = None
)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" value="text/html; charset=utf-8">
    <title>SOS Message</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sosmessage.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script src="@routes.Assets.at("javascripts/jquery-1.7.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-tabs.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-alerts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.raty.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sosmessage.js")" type="text/javascript"></script>
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="@routes.Application.index">SOS Message</a></h3>
          <ul class="nav">
            <li @if(selectedTab == "categories") {class="active"}><a href="@routes.Categories.index">Categories</a></li>
            <li @if(selectedTab == "messages") {class="active"}><a href="@routes.Messages.index("none")">Messages</a></li>
            <li @if(selectedTab == "moderation") {class="active"}><a href="@routes.Moderation.index("waiting")">Moderation</a></li>
          </ul>
        </div>
      </div>
    </div>

     <div class="container">
       <div class="content">
         @actionDone.map { message =>
           <div class="row alert-banner">
             <div class="span-one-third">&nbsp;</div>
             <div class="alert-message success fade in span-one-third" data-alert="alert">
               <a class="close" href="#">x</a>
               <p>
                 @if(message == "categoryAdded") { New category <strong>added</strong>! }
                 @if(message == "categoryDeleted") { Category <strong>deleted</strong>! }
                 @if(message == "messageAdded") { New message <strong>added</strong>! }
                 @if(message == "messageWaiting") { New message <strong>waiting for approval</strong>! }
                 @if(message == "messageDeleted") { Message <strong>deleted</strong>! }
                 @if(message == "messageApproved") { Message <strong>approved</strong>! }
                 @if(message == "messageRejected") { Message <strong>rejected</strong>! }
                 @if(message == "waitingMessagesDeleted") { All waiting messages <strong>deleted</strong>! }
                 @if(message == "waitingMessagesApproved") { All waiting messages <strong>approved</strong>! }
                 @if(message == "waitingMessagesRejected") { All waiting messages <strong>rejected</strong>! }
                 @if(message == "rejectedMessagesDeleted") { All rejected messages <strong>deleted</strong>! }
                 @if(message == "rejectedMessagesApproved") { All rejected messages <strong>approved</strong>! }
               </p>
             </div>
             <div class="span-one-third">&nbsp;</div>
           </div>
         }
         <div class="row">
           <div class="span16">
             @content
           </div>
         </div>
       </div>

       <footer>
         <p>&copy; 2011</p>
       </footer>

     </div> <!-- /container -->
  </body>

</html>
