@(
  categories: List[com.mongodb.DBObject],
  categoryId: String,
  messageId: String,
  messageForm:play.api.data.Form[(String, String, Option[String])]
)(implicit flash: play.api.mvc.Flash)

@import helper._

@main(selectedTab = "messages", actionDone = flash.get("actionDone")) {

  <section id="message">

    <div class="page-header">
      <h1>Edit Message</h1>
    </div>

    <form action="@routes.Messages.update(categoryId, messageId)" method="POST" class="form-stacked" accept-charset="UTF-8">
      <fieldset>
        <div class="clearfix">
          @messageForm.forField("category") { field =>
            <label for="@field.name">Category</label>
            <div class="input">
              <select name="@field.name" id="@field.name">
                @categories.map { category =>
                  <option value="@category.get("_id")" @if(category.get("_id") == categoryId) {selected="selected"} >@category.get("name")</option>
                }
              </select>
            </div>
          }
        </div>
        <div class="clearfix">
          @messageForm.forField("text") { field =>
            <label for="@field.name">Text</label>
            <div class="input">
              <textarea class="xxlarge" id="@field.name" name="@field.name" rows="6">@field.value</textarea>
            </div>
          }
        </div>
      </fieldset>
      <div class="actions">
        <button class="btn primary" type="submit">Save</button>
        <a href="@routes.Messages.index(categoryId)" class="btn">Cancel</a>
      </div>
    </form>

  </section>

}
