@(
  categories: List[com.mongodb.DBObject],
  selectedCategoryId: String,
  messages: List[com.mongodb.DBObject],
  newMessageForm:play.api.data.Form[(String, String)]
)

@main(selectedTab = "messages") {

  <section id="messages">

    <div class="page-header">
      <h1>Messages</h1>
    </div>

    <div class="select-category">
      <form>
      <div class="clearfix">
        <label for="select-category">Category: </label>
        <div class="input">
          <select name="select-category" id="select-category">
            @categories.map { category =>
              <option value="@category.get("_id")" @if(category.get("_id") == selectedCategoryId) {selected="selected"} >@category.get("name")</option>
            }
          </select>
        </div>
      </div>
      </form>
    </div>

    <p>
      <a class="btn primary main-add-button"
         data-controls-modal="new-message-modal"
         data-backdrop="static"
         data-keyboard="true">Add message</a>
    </p>

    <div class="messages-container">
      <table class="zebra-striped">
        <thead>
          <tr>
            <th>Text</th>
            <th>Created At</th>
            <th class="delete-message-col"></th>
          </tr>
        </thead>
        <tbody>
          @messages.map { message =>
            <tr>
              <td>
                <pre>
@message.get("text")
                </pre>
              </td>
              <td>
                @{
                  val df = java.text.DateFormat.getDateTimeInstance
                  df.format(message.get("createdAt"))
                }
              </td>
              <td class="delete-message-col">
                <form action="@routes.Messages.delete(selectedCategoryId, message.get("_id").toString)" method="POST"
                  style="margin-bottom:0">
                  <button class="btn small danger delete-message" type="submit">Delete</button>
                </form>
              </td>
            </tr>
          }
        </tbody>
      </table>


      <div id="new-message-modal" class="modal hide">
        <div class="modal-header">
          <a href="#" class="close">x</a>
          <h3>New Message</h3>
        </div>
        <div class="modal-body">
          <form action="@routes.Messages.save(selectedCategoryId)" method="POST" class="form-stacked" accept-charset="UTF-8">
            <fieldset>
              <div class="clearfix">
                @newMessageForm.forField("category") { field =>
                  <label for="@field.name">Category</label>
                  <div class="input">
                    <select name="@field.name" id="@field.name">
                      @categories.map { category =>
                        <option value="@category.get("_id")" @if(category.get("_id") == selectedCategoryId) {selected="selected"} >@category.get("name")</option>
                      }
                    </select>
                  </div>
                }
              </div>
              <div class="clearfix">
                @newMessageForm.forField("text") { field =>
                  <label for="@field.name">Text</label>
                  <div class="input">
                    <textarea class="xxlarge" id="@field.name" name="@field.name" value="@field.value" rows="6"></textarea>
                  </div>
                }
              </div>
            </fieldset>
            <div class="actions">
              <button class="btn small primary" type="submit">Add</button>
              <button type="reset" class="btn small"  onclick="$('#new-message-modal').modal('hide'); return false;">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>

}
